<nav class="fixed-top navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="fs-3 navbar-brand fw-bold text-info-emphasis">Taskly <i class="fa-brands fa-duolingo"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        @if(!check()){
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="text-info">Home</a>
          </li>
          <li class="nav-item logout" >
            <a (click)="logout()" class="nav-link text-danger">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
          </li>
        }

        @if(check()){
          <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="text-info">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="text-info">Register</a>
        </li>
        }

      </ul>

    </div>
  </div>
</nav>